
h3{
  
    color: rgb(251, 9, 9);
    text-align: center;
}

h1{
  
    color: rgb(251, 9, 9);
    text-align: center;
    margin-bottom: 30px;
}
h2{
   margin-left: 800px;
}
.btn{
    margin-left: 130px;
}
.row{
    margin-left: 70px;
    margin-right: 70px;


}
#cartborder{
    border: 1px solid red;
    margin-bottom: 2px;
}

#proddetails{
    margin-top: 50px;
    
    margin-bottom: 30px;
  
   

}
#proimg{
    max-height: 150px;
    width: 260px;
    margin-bottom: 15px;
    margin-top: 10px;
 
}


#proddetails1{
    background-color: transparent;
    background-color:  rgb(231, 229, 229);
    margin-left: 10px;
    
}
#proddetails2{
 
     background-color:  rgb(231, 229, 229);
     margin-top: 0px;
}
#proddetails3{
 
    background-color:  rgb(231, 229, 229);
    margin-top: 0px;
}