
<%-include('Includes/Header.ejs')%>
<link rel="stylesheet" href="/CSS/home.css">
</head>
<body>
    <%-include('Includes/Navigation.ejs')%>
   
<h4>ShopCart..!</h4>
<div>
    <img src="./UploadImage/shop.jpg" alt="img" class="img10">
</div>
    


<%-include('./Includes/Footer.ejs')%>